@model ProjectCuoiki.Models.typeproduct

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/layout.cshtml";
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
@using (Html.BeginForm("Delete", "Typeproducts"))
{
    @Html.AntiForgeryToken()
    <a class="btn btn-light me-3" href="@Url.Action("Index", "Typeproducts")">Cancle</a>
    <input class="btn btn-danger" type="submit" value="Xóa">
}