@model IEnumerable<ProjectCuoiki.Models.news>


<h4>Recent Posts</h4>
<ul>
    @foreach (var i in Model)
    {
        <li><a href="~/tin-tuc/@i.meta">@i.title</a></li>

    }
    <li><a href="single-news.html">A man's worth has its season, like tomato.</a></li>
    <li><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></li>
    <li><a href="single-news.html">Fall in love with the fresh orange</a></li>
    <li><a href="single-news.html">Why the berries always look delecious</a></li>
</ul>