

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
    <title>Fruitkha</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="~/Uploads/img/favicon.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/Content/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="~/Content/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="~/Content/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
</head>
<body>

    <!-- header -->
    <div class="top-header-area mb-5" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a href="index.html">
                                <img src="~/Uploads/img/logo.png" alt="">
                            </a>
                        </div>
                        <!-- logo -->
                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>
                            @{Html.RenderAction("getMenu", "Default");}
                            <li>
                                <div class="header-icons">
                                    <a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
                                    <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                                </div>
                            </li>
                            </ul>
                        </nav>
                        <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                        <div class="mobile-menu"></div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->
    

        @RenderBody()
    
    <!-- footer -->
    @{ Html.RenderAction("getFooter", "Default");}
    <!-- end footer -->
    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p>
                        Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
                        Distributed By - <a href="https://themewagon.com/">Themewagon</a>
                    </p>
                </div>
                <div class="col-lg-6 text-right col-md-12">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end copyright -->
</body>
<script src="~/Scripts/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
<!-- count down -->
<script src="~/Scripts/js/jquery.countdown.js"></script>
<!-- isotope -->
<script src="~/Scripts/js/jquery.isotope-3.0.6.min.js"></script>
<!-- waypoints -->
<script src="~/Scripts/js/waypoints.js"></script>
<!-- owl carousel -->
<script src="~/Scripts/js/owl.carousel.min.js"></script>
<!-- magnific popup -->
<script src="~/Scripts/js/jquery.magnific-popup.min.js"></script>
<!-- mean menu -->
<script src="~/Scripts/js/jquery.meanmenu.min.js"></script>
<!-- sticker js -->
<script src="~/Scripts/js/sticker.js"></script>
<!-- main js -->
<script src="~/Scripts/js/main.js"></script>
</html>
